html {
    background-color: #9dbabe;
}

body {
    width: 800px;
    margin: auto auto;
    background-color: white;
    padding: 50px;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

table {
    margin: 20px auto;
}

th, td {
    margin: auto;
    border: 1px solid black;
    padding: 5px;
}

    th {
        background-color: white;
    }

#create {
    padding: 15px;
}

input[type=text], [type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 6px 6px 6px 0;
    display: inline-block;
    font-size: 14px;
}

input[type=submit],[type=reset] {
    background-color: #002e4d;
    color: white;
    padding: 12px 20px;
    margin: 20px 20px 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover, [type=reset]:hover {
    transition: all 0.4s ease-in-out 0.1s;
    background-color: #1aa3ff;
}
